<h3>Mileage</h3>
<table class="table">
  <tbody>
    <tr>
      <th>Value</th>
      <th>Created at</th>
      <th>User</th>
      <th>Month</th>
      <th>Year</th>
    </tr>
    <% mileages.each do |mileage| %>
      <tr>
        <td><%= mileage.value %></td>
        <td><%= mileage.created_at %></td>
        <td><%= mileage.user.email %></td>
        <td><%= Date::MONTHNAMES[mileage.month] %></td>
        <td><%= mileage.year %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
